
body{
    background-image: url("./images/blue-textured-background.jpg");
    font-family:sans-serif;
    padding: 0;
    margin: 0;
    color: blanchedalmond;
}

.wrapper{
    max-width: 690px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}



h3{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    color: rgb(49, 230, 4);
    text-transform: uppercase;
    font-size: 30px;
}

#balloon-gallery div{
    display: flex;
    justify-content: center;
    height: 101px;
    width: 99px;
    text-align: center; 
    font-size: 10px;
    font-family: sans-serif, arial;
    border-radius: 100%;
    margin-top: 20px;
    display: inline-block;
    margin: 7px 7px 7px 7px;
}

#yay-no-balloons {
    display:none;
    font-size:50px;
}
#failed{
    display:none;
    font-size:50px;
}